@import "../../../../styles/app.scss";

.nav {
  background-color: $h-black;
  position: fixed;
  top: 70px;
  left: 220px;
  height: calc(100vh - 70px);
  width: 130px;
  color: $white;

  // @media (max-width: 1024px) {

  // }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      cursor: pointer;
      padding: 1em;
    }
  }
}

.active {
  border-right: 6px solid $green;
  font-weight: 600;
}
