@import "../../../../styles/app.scss";

.nav {
  background-color: $h-black;
  position: fixed;
  top: 70px;
  height: calc(100vh - 70px);
  width: 8em;
  color: $white;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      cursor: pointer;
      padding: 1em;
    }
  }
}

.active {
  background-color: $green;
  color: $black;
  font-weight: 600;
}
