@import "../../../../../styles/app.scss";

.form {
  padding: 0em 0 2em 0;
  margin-left: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 35%;
  align-items: center;
  gap: 1em;

  label {
    font-weight: 600;
    font-size: 0.9rem;
  }

  select {
    @include select;
  }
}
