.main {
  .grid {
    margin: 1rem 0rem;
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
  }

  .flex_col {
    display: grid;
    gap: 3em;

    article {
      margin-bottom: 1em;
      h5 {
        padding-bottom: 0.5em;
        font-weight: 600;
      }

      thead {
        tr {
          font-weight: 300;
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: rgb(243, 243, 243);
          }
          &:nth-child(even) {
            background-color: rgb(228, 228, 228);
          }

          td {
            padding: 0.5em 0.2em;

            &:nth-child(3) {
              width: 2rem;
            }
          }

          .info {
            width: 46%;
          }

          .btn {
            cursor: pointer;
          }
        }
      }
    }
  }
}
