@import "../../../../styles/app.scss";

.admin_layout {
  display: flex;
  column-gap: 2rem;

  > div {
    margin-left: 220px;
    width: 100%;
    padding: 2em;
    margin-top: 70px;

    max-width: 1536px;
    margin: 70px auto;
  }
}
