@import "../../../../styles/app.scss";

.admin_layout {
  display: flex;
  column-gap: 2rem;

  > div {
    width: 100%;
    padding: 2em;

    max-width: 1536px;
    margin: 70px auto 70px 220px;
  }
}
