@import "../../styles/app.scss";

.container {
  main {
    padding: 2em;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      li {
        @include main-btn;
        background-color: $green;
        width: 8em;
      }
    }
  }
}
