@import "../../styles/app.scss";

.container {
  main {
    padding: 2em;
    ul {
      list-style: none;
      display: flex;
      // flex-direction: column;
      gap: 0.5em;

      li {
        @include main-btn;
        background-color: $green;
        width: 8em;
      }
    }

    .article_wrapper {
      padding: 2em 0em;
      background-color: white;

      h5 {
        padding-bottom: 1em;
        font-weight: 700;
        font-size: 0.9rem;
      }

      // article {
      //   padding: 0 2em;
      // }
    }

    > button {
      @include main-btn;
      background-color: $black;
    }
  }
}

.full_screen_active {
  article {
    padding: 0 2em;
  }
}
