@import "../../../../styles/app.scss";

.form {
  display: grid;
  align-items: center;
  gap: 0.5em;

  @media (min-width: 480px) {
    grid-template-columns: 1fr 30%;
  }

  label {
    font-weight: 600;
    font-size: 0.9rem;
  }

  select {
    @include select;
  }
}
