@import "../../styles/app.scss";

.main {
  max-width: 1200px;
  margin: 0 auto;

  .input_section {
    padding: 3em 1em;
    border-bottom: 1px solid $black;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

    > div {
      width: 100%;
    }
  }

  .user_consumptions_section {
    font-size: 0.9rem;
  }

  .grid {
    display: grid;
    grid-auto-flow: column;
  }

  .j_between {
    justify-content: space-between;
  }

  .margin_t {
    margin-top: 2em;

    table {
      thead {
        border-bottom: 1px solid rgb(194, 194, 194);
      }

      tbody {
        tr {
          td {
            padding-top: 0.5em;

            .btns_wrapper {
              display: flex;
              gap: 1em;

              button {
                @include main-btn;
              }
            }
          }
        }
      }
    }
  }

  .margin {
    margin: 1rem 0rem;
  }

  section {
    > h4 {
      font-weight: 600;
      font-size: 0.85rem;
      margin-bottom: 1em;
    }
  }

  .btn_wrrapper {
    margin: 2em;
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0.5em 3em;
    }
  }
}
