.main {
  max-width: 1200px;
  margin: auto;

  .grid {
    display: grid;
    grid-auto-flow: column;
  }

  .j_between {
    justify-content: space-between;
  }

  .margin {
    margin: 2rem 0rem;
  }
}
