@import "../../../styles/app.scss";

.container {
  background-color: rgb(247, 247, 247);
  min-height: 100dvh;
  min-height: 100vh;

  .form {
    display: grid;
    gap: 1em;

    > div {
      display: grid;
    }

    input[type="text"] {
      @include input;
    }
  }

  .main {
    .btn_wrapper {
      margin-bottom: 1em;
      display: flex;
      justify-content: flex-end;

      button {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }

    .table_wrapper {
      @media (max-width: 768px) {
        overflow: auto;
      }

      tbody {
        td {
          &:nth-child(1) {
            font-weight: 600;
          }
        }
      }
    }

    .pagination_wrapper {
      margin-top: 1em;
      display: flex;
      justify-content: center;
      gap: 1em;

      button[disabled] {
        @include disabled;
      }
    }
  }
}
