.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px solid gray;

    tr {
      font-weight: 600;
      font-size: 0.8rem;
    }

    tr th {
      text-align: left;
      padding-bottom: 0.5rem;
    }
  }

  tbody {
    font-size: 14px;
  }
}
