@import "../../../../styles/app.scss";

.button {
  @include main-btn;
}

.primary {
  background-color: $green;
  color: white;
}

.secondary {
  background-color: $black;
}

.danger {
  background-color: $red;
  color: white;
}
