@import "../../../../styles/app.scss";

.button {
  @include main-btn;
}

.primary {
  background-color: $green;
  color: white;
}

.secondary {
  background-color: $black;

  &:hover {
    background-color: $h-black;
  }
}

.danger {
  background-color: $red;
  color: white;
}
