$green: #41ca44;
$red: #f44336;
$black: #2b2c2b;
$black-900: #1b1b1b;
$h-black: #4e4e4e;
$gray: #94949c;
$white: #e0e0e0;

@mixin main-btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;

  &:hover {
    opacity: 0.75;
  }
}

@mixin disabled {
  background-color: $gray;
  color: $white;
  cursor: auto;

  &:hover {
    opacity: 1;
  }
}

@mixin select {
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  border: 1px solid $gray;
}

@mixin input {
  margin-top: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  border: 1px solid $gray;
}
